body {
  margin: auto;
  font-family: "Roboto Condensed", sans-serif;
  color: #333;
  font-size: 24px;
  font-weight: 300;
  background: #f0f0f0; }

a {
  background: #fff;
  text-decoration: none;
  color: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold; }

.clearfix {
  clear: both; }

.page-heading {
  margin: 0 auto;
  text-align: center;
  font-size: 3.3rem;
  width: 100%;
  transition: .75s; }
  @media screen and (min-width: 600px) {
    .page-heading {
      font-size: 5rem; } }
  @media screen and (min-width: 960px) {
    .page-heading {
      z-index: 300;
      font-size: 7rem;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0; }
      .page-heading.left {
        width: 50%;
        left: 0;
        position: fixed; }
      .page-heading.right {
        width: 50%;
        left: 50%;
        position: fixed; }
      .page-heading.center {
        width: 100%;
        left: 0; } }
  .page-heading a {
    background: transparent; }
  .page-heading span {
    font-weight: 300 !important; }

#menu {
  width: 100%;
  margin-top: 0;
  background: #fff;
  z-index: 350;
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0; }
  @media screen and (min-width: 960px) {
    #menu {
      width: 50%;
      position: absolute;
      top: 103px;
      font-size: 1.7rem; } }
  #menu li {
    display: inline-block;
    margin: 0 20px; }
  #menu a {
    background: transparent; }
  #menu.art {
    background: #89C9B2; }
  #menu.code {
    background: #B1ABD4; }

span.title {
  color: #fff;
  font-size: 8rem;
  display: block;
  padding-top: 182px;
  position: absolute;
  transition: .5s; }

a.art {
  text-decoration: none;
  display: block;
  overflow: hidden;
  height: 100px;
  margin-bottom: 1rem; }
  @media screen and (min-width: 600px) {
    a.art {
      height: 200px;
      margin-top: 103px; } }
  a.art span {
    position: absolute;
    z-index: 300;
    font-size: 5rem;
    color: #fff;
    font-weight: 100;
    transition: .25s;
    right: 0rem; }
    @media screen and (min-width: 960px) {
      a.art span {
        font-size: 10rem;
        right: 3rem; } }
  a.art:hover span {
    color: #B1ABD4; }
  a.art div.art {
    width: 150%;
    height: 100px;
    background: #89C9B2;
    overflow: hidden; }
    @media screen and (min-width: 600px) {
      a.art div.art {
        height: 200px; } }
    a.art div.art:hover span.title {
      left: 40%; }
    a.art div.art span.title {
      left: 50%;
      font-weight: 700; }
    a.art div.art div {
      height: 100px;
      width: 100px;
      transition: .25s;
      border: 0;
      opacity: .4;
      float: left;
      background-size: 250% auto;
      background-position: 40% 40%; }
      @media screen and (min-width: 600px) {
        a.art div.art div {
          height: 200px;
          width: 200px; } }
      a.art div.art div:hover {
        opacity: .6; }

a.code {
  text-decoration: none;
  display: block;
  overflow: hidden;
  height: 100px; }
  @media screen and (min-width: 600px) {
    a.code {
      height: 200px; } }
  a.code span {
    position: absolute;
    z-index: 300;
    font-size: 5rem;
    color: #fff;
    font-weight: 100;
    transition: .25s; }
    @media screen and (min-width: 960px) {
      a.code span {
        font-size: 10rem;
        padding-left: 3rem; } }
  a.code:hover span {
    color: #89C9B2; }
  a.code div.code {
    position: absolute;
    width: 150%;
    left: -50%;
    overflow: hidden;
    height: 100px;
    background: #B1ABD4; }
    @media screen and (min-width: 600px) {
      a.code div.code {
        height: 200px; } }
    a.code div.code div {
      height: 100px;
      transition: .25s;
      width: 100px;
      border: 0;
      opacity: .4;
      float: right;
      background-size: cover;
      background-position: center; }
      @media screen and (min-width: 600px) {
        a.code div.code div {
          height: 200px;
          width: 200px; } }
      a.code div.code div:hover {
        opacity: .6; }

.feature-wrapper {
  width: 100%;
  position: static; }
  @media screen and (min-width: 960px) {
    .feature-wrapper {
      width: 50%;
      position: absolute;
      margin-bottom: 0;
      top: 135px; }
      .feature-wrapper.art {
        position: fixed; } }
  .feature-wrapper .feature {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    .feature-wrapper .feature.code {
      padding: 0 15px;
      font-size: 1rem;
      margin-bottom: 2rem; }
    .feature-wrapper .feature.art {
      height: 300px; }
    @media screen and (min-width: 960px) {
      .feature-wrapper .feature.art, .feature-wrapper .feature.code {
        height: 500px; }
      .feature-wrapper .feature.code {
        padding: 0 50px; } }
    .feature-wrapper .feature h2 {
      display: none; }
    .feature-wrapper .feature h2.post-title {
      display: block; }
    .feature-wrapper .feature canvas#dragon {
      height: 300px;
      width: 400px;
      background: #fff; }
    .feature-wrapper .feature .dragon {
      text-align: center;
      font-size: 2rem; }
      .feature-wrapper .feature .dragon input[type=number] {
        font: inherit;
        padding: 2px 2px 2px 10px;
        width: 50px; }
      .feature-wrapper .feature .dragon input[type=number]::-webkit-inner-spin-button,
      .feature-wrapper .feature .dragon input[type=number]::-webkit-outer-spin-button {
        opacity: 1; }
    .feature-wrapper .feature .resume, .feature-wrapper .feature .resources {
      padding: 1rem 0 3rem 0;
      font-size: 1.2rem; }
      .feature-wrapper .feature .resume h3, .feature-wrapper .feature .resources h3 {
        background: #89C9B2;
        color: #fff;
        text-align: center;
        font-weight: 100;
        display: block;
        font-size: 1.3rem; }
        @media screen and (min-width: 960px) {
          .feature-wrapper .feature .resume h3, .feature-wrapper .feature .resources h3 {
            font-size: 2rem; } }
      .feature-wrapper .feature .resume h4 span, .feature-wrapper .feature .resources h4 span {
        font-weight: 100; }
    .feature-wrapper .feature .resources ul {
      line-height: 1.4; }
    .feature-wrapper .feature .nano-wrapper {
      margin: auto;
      width: 90%;
      text-align: center; }
      @media screen and (min-width: 960px) {
        .feature-wrapper .feature .nano-wrapper {
          font-size: 1rem; } }
      .feature-wrapper .feature .nano-wrapper input[type=number] {
        font: inherit;
        padding: 2px 2px 2px 10px;
        width: 70px;
        float: center; }
      .feature-wrapper .feature .nano-wrapper input[type=number]::-webkit-inner-spin-button,
      .feature-wrapper .feature .nano-wrapper input[type=number]::-webkit-outer-spin-button {
        opacity: 1; }
      .feature-wrapper .feature .nano-wrapper textarea#nano {
        padding: 0;
        width: 100%;
        font-weight: 100;
        font-family: "Roboto Mono", monospace;
        border: none; }
        @media screen and (min-width: 960px) {
          .feature-wrapper .feature .nano-wrapper textarea#nano {
            font-size: 1.2rem; } }
        @media screen and (max-width: 600px) {
          .feature-wrapper .feature .nano-wrapper textarea#nano {
            height: 200px; } }
      .feature-wrapper .feature .nano-wrapper #progress-wrapper {
        width: 100%;
        margin: auto; }
        .feature-wrapper .feature .nano-wrapper #progress-wrapper #progress-bar {
          width: 1px;
          height: 8px;
          background: #B1ABD4; }
  .feature-wrapper.art p {
    margin: 20px;
    text-align: center;
    font-size: 1rem; }
    @media screen and (min-width: 960px) {
      .feature-wrapper.art p {
        width: 80%;
        margin: 20px auto; } }
    .feature-wrapper.art p span {
      font-weight: 700; }
  @media screen and (min-width: 960px) {
    .feature-wrapper .code.graphs {
      padding: 3rem; } }
  .feature-wrapper .code.graphs > div {
    margin: .5rem 0;
    font-size: 1.2rem; }
    @media screen and (min-width: 960px) {
      .feature-wrapper .code.graphs > div {
        margin: 1rem 0; } }
    @media screen and (min-width: 960px) {
      .feature-wrapper .code.graphs > div {
        font-size: 2rem; } }
    .feature-wrapper .code.graphs > div > div {
      text-align: center;
      color: #fff;
      background: #89C9B2; }
      .feature-wrapper .code.graphs > div > div.bar1 {
        width: 20%;
        opacity: .2; }
      .feature-wrapper .code.graphs > div > div.bar2 {
        width: 40%;
        opacity: .4; }
      .feature-wrapper .code.graphs > div > div.bar3 {
        width: 60%;
        opacity: .6; }
      .feature-wrapper .code.graphs > div > div.bar4 {
        width: 80%;
        opacity: .8; }
      .feature-wrapper .code.graphs > div > div.bar5 {
        width: 100%;
        opacity: 1; }

.ribbon {
  position: static;
  width: 100%;
  left: 50%;
  margin-top: 135px; }
  @media screen and (min-width: 960px) {
    .ribbon {
      width: 50%;
      margin-left: 50%; } }
  .ribbon.art a div {
    width: 50%;
    height: 150px;
    float: left;
    background-size: 250% auto;
    background-position: 40% 40%; }
    @media screen and (min-width: 600px) {
      .ribbon.art a div {
        height: 200px;
        width: 33.3333%; } }
    @media screen and (min-width: 1200px) {
      .ribbon.art a div {
        width: 25%; } }
  .ribbon.code a div {
    width: 50%;
    height: 150px;
    float: left;
    background-position: center;
    background-size: cover; }
    @media screen and (min-width: 600px) {
      .ribbon.code a div {
        height: 200px;
        width: 33.3333%; } }
    @media screen and (min-width: 1200px) {
      .ribbon.code a div {
        width: 25%; } }
