$font: 'Roboto Condensed', sans-serif;
$mono-font: 'Roboto Mono', monospace;
$teal: #89C9B2;
$purple: #B1ABD4;
$gray: #f0f0f0;
$black: #333;
$white: #fff;

body {
    margin: auto;
    font-family: $font;
    color: $black;
    font-size: 24px;
    font-weight: 300;
    background: $gray;
}
a {
    background: $white;
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $font;
    font-weight: bold;
}
canvas {
    height: 500px;
    width: 600px;
    background: $white;
    margin: 50px 0;
}
.clearfix {
    clear: both;
}
.page-heading {
    margin: 0 auto;
    text-align: center;
    font-size: 7rem;
    width: 100%;
    position: absolute;
    z-index: 300;
    left: 0;
    top: 56px;
    transition: .25s;
    animation-duration: 1s;
    animation-fill-mode: both;
    &.left {
        @media screen and (min-width:1420px) {        
            width: 50%;
            left: 0;
            position: fixed;
        }
    }
    &.right {
        @media screen and (min-width:1420px) {        
            width: 50%;
            left: 50%;
            position: fixed;
        }
    }
    &.center {
        @media screen and (min-width:1420px) {   
            width: 100%;
            left: 0;
        }
    }
    a {
        background: transparent;
    }
    span {
        font-weight: 300 !important;
    }
}
#menu {
    width: 100%;
    margin-top: -47px;
    @media screen and (min-width:1420px) {
        width: 50%;
        margin-top: 113px;
    }
    background: $white;
    z-index: 300;
    position: absolute;
    list-style-type: none;
    font-size: 2.5rem;
    padding-left: 0;
    text-align: center;
    li {
        display: inline-block;
        margin: 0 20px;
    }
    a {
        background: transparent;
    }
    &.art {
        @media screen and (min-width:1420px) {
            left: 50%;
        }
        background: $teal;
    }
    &.code {
        background: $purple;
    }
}
span.title {
    color: $white;
    font-size: 8rem;
    display: block;
    padding-top: 182px;
    position: absolute;
    transition: .5s;
}
a.art {
    text-decoration: none;
    display: block;
    overflow: hidden;
    height: 300px;
    margin-top: 160px;

    span {
        position: absolute;
        right: 4rem;
        z-index: 300;
        font-size: 12rem;
        color: $white;
        font-weight: 100;
        padding-top: 1.8rem;
    }
    div.art {
        width: 120%;
        height: 300px;
        background: $teal;
    span {
        position: absolute;
        z-index: 300;
        font-size: 12rem;
        color: $white;
        font-weight: 100;
        padding-top: 1.8rem;
        padding-left: 4rem;
    }

        &:hover span.title {
            left: 40%;
        }
        span.title {
            left: 50%;
            font-weight: 700;
        }
        div {
            height: 300px;
            transition: .25s;
            width: 15%;
            border: 0;
            opacity: .4;
            float: left;
            background-size: 250% auto;
            background-position: 40% 40%;
            &:hover {
                opacity: .6;
            }
        }
    }
}
a.code {
    text-decoration: none;
    display: block;
    overflow: hidden;
    height: 300px;
    span {
        position: absolute;
        z-index: 300;
        font-size: 12rem;
        color: $white;
        font-weight: 100;
        padding-top: 1.8rem;
        padding-left: 4rem;
    }
    div.code {
        position: absolute;
        width: 120%;
        left: -20%;
        height: 300px;
        background: $purple;
        div {
            height: 300px;
            transition: .25s;
            width: 15%;
            border: 0;
            opacity: .4;
            float: right;
            background-size: cover;
            background-position: center;
            &:hover {
                opacity: .6;
            }
        }
    }
}
.feature-wrapper {
    width: 100%;
    position: static;
    margin-bottom: 3rem;
    @media screen and (min-width:1420px) {
        width: 50%;
        position: absolute;
        margin-bottom: 0;
    }
    &.art {
        @media screen and (min-width:1420px) {
            position: fixed;
        }
    }
    .feature {
        height: auto;
        margin-top: 207px;
        @media screen and (min-width:1420px) {
            margin-top: 160px;
            height: 600px;
        }
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        &.art {
            height: 600px;
        }
        &.code {
            padding: 0 50px;
        }
        h2 {
            display: none;
        }
        h2.post-title {
            display: block;
        }
        #dragon {
            margin: 0;
        }
        .dragon {
            text-align: center;
            font-size: 2rem;
            input[type=number] {
                font: inherit;
                padding: 2px 2px 2px 10px;
                width: 50px;
            }
            input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
                opacity: 1;
            }
        }
        .resume, .resources {
            padding: 1rem 0 3rem 0;
            h3 {
                background: $teal;
                color: $white;
                text-align: center;
                font-weight: 100;
                font-size: 2rem;
                display: block;
            }        
            h4 span {
                font-weight: 100;
            }
        }
        .resources {
            ul {
                line-height: 1.4;
            }
        }
        .nano-wrapper {
            margin: auto;
            width: 90%;
            font-size: 2rem;
            text-align: center;

            input[type=number] {
                font: inherit;
                padding: 2px 2px 2px 10px;
                width: 70px;
                float: center;
            }
            input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
                opacity: 1;
            }
            textarea#nano {
                padding: 0;
                width: 100%;
                font-size: 1.2rem;
                font-weight: 100;
                font-family: $mono-font;
                border: none;
            }
            #progress-wrapper {
                width: 100%;
                margin: auto;
                #progress-bar {
                    width: 1px;
                    height: 8px;
                    background: $purple;
                }
            }
        }
    }
    &.art p {
        width: 80%;
        margin: 20px auto;
        text-align: center;
        span {
            font-weight: 700;
        }
    }
    .code.graphs {
        padding: 3rem;
        > div {
            margin: 1rem 0;
            font-size: 2rem;
            > div {
                text-align: center;
                color: $white;
                background: $teal; 
                &.bar1 {
                    width: 20%;
                    opacity: .2;
                }
                &.bar2 {
                    width: 40%;
                    opacity: .4;
                }
                &.bar3 {
                    width: 60%;
                    opacity: .6;
                }
                &.bar4 {
                    width: 80%;
                    opacity: .8;
                }
                &.bar5 {
                    width: 100%;
                    opacity: 1;
                }
            }
        }
    }
}
.ribbon {
    position: static;
    width: 100%;
    @media screen and (min-width:1420px) {
        width: 50%;
        position: absolute;
        &.code {
            position: fixed;
        }
    }
    left: 50%;
    top: 160px;
    &.art a div {
        height: 200px;
        width: 25%;
        float: left;
        background-size: 250% auto;
        background-position: 40% 40%;
    }
    &.code a div {
        height: 200px;
        width: 25%;
        float: left;
        background-position: center;
        background-size: cover;
    }
}