%ul.art#menu
    %li
        %a(href="https://artistsnclients.com/people/kenziebottoms" target="_blank")
            Artists&Clients
    %li
        %a(href="https://kenziebottoms.artstation.com/" target="_blank")
            ArtStation
    %li
        %a(href="https://www.instagram.com/kenziebottoms/" target="_blank")
            Instagram
    %li
        %a(href="http://chokingontheirhalos.tumblr.com/tagged/portfolio" target="_blank")
            Tumblr