%ul.art#menu
    %li
        %a(href="https://artistsnclients.com/people/kenziebottoms" target="_blank")
            Artists&amp;Clients
    %li
        %a(href="https://kenziebottoms.artstation.com/" target="_blank")
            ArtStation
    %li
        %a(href="https://www.instagram.com/kenziebottoms/" target="_blank")
            Instagram