%ul.code#menu
    %li
        %a(href="https://github.com/kenziebottoms" target="_blank")
            GitHub
    %li
        %a(href="https://twitter.com/kenziebottoms" target="_blank")
            Twitter
    %li
        %a(href="mailto:kenziebottoms@gmail.com" target="_blank")
            Email