!!!
%html
    {% include header.html %}
    %body
        {% include title.html %}
        %div#barba-wrapper
            %div.barba-container
                {% include code-menu.html %}
                %div.feature-wrapper.code
                    %div.code.feature
                        {{ content }}
                {% include code-ribbon.html %}