!!!
%html
    {% include header.html %}
    %body
        %div#wrapper
            %h1.page-heading.right
                {% include title.html %}
            {% include code-menu.html %}
            {{ content }}