!!!
%html
    {% include header.html %}
    %body
        %div#barba-wrapper
            %div.barba-container
                %h1.page-heading.left
                    {% include title.html %}
                {% include art-menu.html %}
                {{ content }}
