!!!
%html
    {% include header.html %}
    %body
        %h1.page-heading.left
            {% include title.html %}
        %div#barba-wrapper
            %div.barba-container
                {% include art-menu.html %}
                {{ content }}
